html {
  font-size: 16px;
  font-family: Helvetica;
}

body {
  padding: 0;
  margin: 0;
}

/* Navigation Bar */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#logoImg {
  width: 3rem;
  height: 3rem;
}

.navBar nav span {
  margin-right: 1rem;
  font-size: 2rem;
}

#signIn {
  margin-right: 1.5rem;
}

#academy {
  color: grey;
}


/* First Banner */

.banner1 {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.banner1 .photo1 {
  height: 51rem;
  width: 60%;
  margin: 0 1.5rem 2rem 1.5rem;
  background-image: url("../../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.sidePanel1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidePanel1 h1 {
  padding: 0;
  margin: 0;
}

.button {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

/* Banner 2 */

.banner2 {
  display: flex;
}

.photo21 {
  height: 37.875rem;
  margin: 2rem 1.5rem;
  background-image: url("../../resources/images/information-main.jpg");
  background-repeat: no-repeat;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

.leftPanelText h1, .leftPanelText p {
  margin: 2rem 0 0 1.5rem;
}

.sidePanel2 {
 display: flex;
 flex-direction: column;
 width: 40%;
}

.sidePanel2 .box {
  display: flex;
  height: auto;
}

.sidePanel2 #box1 {
  margin-top: 1rem;
}

.sidePanel2 .boxImg {
 padding: 1rem 0 0 1rem; 
  width: 35%;
}

.sidePanel2 .boxText {
  width: 65%;
}
