html {
  font-size: 16px;
  font-family: Helvetica;
}

body {
  padding: 0;
  margin: 0;
}

/* Navigation Bar */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#logoImg {
  width: 3rem;
  height: 3rem;
}

.navBar nav span {
  margin-right: 1rem;
  font-size: 2rem;
}

#signIn {
  margin-right: 1.5rem;
}

#academy {
  color: grey;
}


/* First Banner */

.banner1 {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.banner1 .photo1 {
  height: 51rem;
  width: 60%;
  margin: 0 1.5rem 2rem 1.5rem;
  background-image: url("../../resources/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.sidePanel1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidePanel1 h1 {
  padding: 0;
  margin: 0;
}

.button {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

/* Banner 2 */

.banner2 {
  display: flex;
}

.photo21 {
  height: 37.875rem;
  margin: 2rem 1.5rem;
  background-image: url("../../resources/images/information-main.jpg");
  background-repeat: no-repeat;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

.leftPanelText h1, .leftPanelText p {
  margin: 2rem 0 0 1.5rem;
}

.leftPanelText p {
  margin-bottom: 2rem;
}

.sidePanel2 {
 display: flex;
 flex-direction: column;
 width: 40%;
 border-left: 1px solid grey;
}

.sidePanel2 .box {
  display: flex;
  height: 30%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

}

.sidePanel2 #box1 {
  margin-top: 1rem;
}

.sidePanel2 .boxImg {
 margin: 1rem 1rem;
  width: 35%;
  height: auto;
}

.sidePanel2 .boxText {
  width: 65%;
}

.sidePanel2 #boxImg1 {
  background-image: url("../../resources/images/information-orientation.jpg");
}

.sidePanel2 #boxImg2 {

  background-image: url("../../resources/images/information-campus.jpg");
}

.sidePanel2 #boxImg3 {
  background-image: url("../../resources/images/information-guest-lecture.jpg");
}

#box3 {
  background-color: grey;
}


/* Banner 3 */


.banner3 {
  background-color: grey;
}

.banner3 h3 {
  font-size: 1rem;
}

.banner3 p {
  font-size: 0.75rem;
}

.banner3 .row1, .banner3 .row2 {
  display: flex;
}

.tiles {
  margin: 2rem 4.5rem;
  background-color: grey;
}

.tile {
  background-color: white;
  display: flex;
  flex-direction: column;

}


.row1, .row2 {
  display: flex;
}

.row1 {
  margin-bottom: 2rem;
}

.tileText {
  margin-left: 1rem;
}


#tile1, #tile2, #tile4, #tile5 {
  margin-right: 2rem;
}

.tile img {

}
